.searchWrap {
    margin: 0 auto;
    width: 720px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 20px;
    color: hsl(0, 0%, 0%);
    margin-bottom: 50px;
    border-radius: 8px;
    background-color: #eeeff3;
    border: 2px solid #d7d8db;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 5px 10px rgba(138, 255, 102, 0.3);
}

.searchInput {
    margin-left: 20px;
    font-size: 16px;
    width: 450px;
    height: 25px;
    padding: 8px 16px;
    outline: none;
    border: 1px solid rgba(102, 255, 122, 0.3);
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
}

.searchInput::placeholder {
    color: hsla(133, 100%, 19%, 0.315);
}

.searchInput:hover,
.searchInput:focus {
    box-shadow: 0 5px 10px rgba(42, 193, 62, 0.3);
}