.contactCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    color: #000901;
    padding: 16px;
    border-radius: 8px;
    background-color: #eeeff3;
    transition: box-shadow 0.3s ease-in-out;
    border: 2px solid #d7d8db;
    box-shadow: 0 5px 10px #4b824d;
}

.contactCard:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.cardIcon {
    vertical-align: middle;
    color: #064909;
    margin-right: 10px;
}

.cardText {
    font-size: 20px;
    font-weight: 500;
}

.contactCardBtn {
    font-size: 16px;
    width: 80px;
    height: 35px;
    border-radius: 4px;
    color: #d8dbd7;
    background-color: #1a8d21;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.contactCardBtn:hover,
.contactCardBtn:focus {
    background-color: #10610d;
}